<%# forma 1. links %>
<%= link_to products_path do %>
    <h1> vendelo_app </h1>
<%end%>

<%# forma 2. links %>
<p>
    <%= link_to "añadir nuevo producto", new_product_path  %>
    <%= link_to "añadir nueva categoria", new_category_path  %>
</p>